__pycache__/
*.ipynb_checkpoints
dataset/
models/
results/
.venv/
pml/
data/raw/
data/sorted/
dataset2/
notebooks/cifar-10-batches-py/
notebooks/cifar-100-python/
notebooks/cifar-10-python.tar.gz
notebooks/cifar-100-python.tar.gz